@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
   font-family: 'idroid';
   src: url("idroid.otf") format('opentype');
   font-style: italic;
   font-weight: normal;
}
:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: white;
}
body {
   background-color:var(--cor0);
   margin: 0;
}
nav > a {
   background-image: linear-gradient(to top, #063d1e);
   opacity: 1;
   text-decoration: none;
   color: white;
   gap: 20px;
   margin: 5px;
   margin-right: 10px;
   margin-top: 15px;
   padding: 10px;
   font-family: 'Oswald', Helvetica, sans-serif;
   white-space: nowrap;
}
nav{
   text-align: center;
}
a:hover{
   background-color: var(--cor3);
   color: var(--cor2);
   border-radius: 5px;
   transition: background-color 2s;
   width: 100%;
   transition: 1s;
}
header {
   background-image: linear-gradient(to top,#1a5c37, #2fa866);
   opacity: 1.5;
   width: 100%;
   min-height: 38vh;
   margin: 0; 
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   margin-bottom: 0px;
}
h1{
   color: white;
   font-family: 'Bebas Neue', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   margin-bottom: 20x;
   padding-top: 20px;
   font-size: 2rem;
   text-shadow: 1px 2px  rgba(0, 0, 0, 0.726);
}
header > p{
   color: white;
   font-family: 'Bebas Neue', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   text-shadow: 1px 2px  rgba(0, 0, 0, 0.726);
}
main > h2{
   font-family: 'idroid', Helvetica, sans-serif;
   text-align: center;
   color: #1bd61b;
   text-align: left;
   padding: 20px;
   margin-bottom: -10px;
}
main{
   background-color: #ffffff;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin: 2vw;
   box-shadow: 0px 2px 2px 2px  #000000;
   margin-top: 3px;
   margin-bottom: 30px;
   padding: 2vw;
}
main > p{
   color: #000000;
   text-indent: 30px;
   font-family:'Oswald', Helvetica, sans-serif;
   text-align: justify;
   text-align-last: left;
   margin: 0 auto;
   width: 90%;
   margin-bottom: 10px;
}
main > h3{
   font-family: 'idroid', 'Times New Roman', Times, serif;
   color: #1bd61b;
   padding: 0 20px;
   background-image: linear-gradient(to right, rgb(167, 241, 167), white);
   border-radius: 5px;
   padding: 0 20px;
   margin: 0 20px;
   margin-bottom: 10px;
}
.cor{
   color: var(--cor5);
   text-decoration: none;
   cursor: pointer;
   background-color: var(--cor2); 
   padding: 0 10px;
}
.cor::before{
   content: '🔗';
}
.cor:hover{
   text-decoration: underline;
}
p > h3{
   margin-bottom: 10px;
}
footer{
   background-image: linear-gradient( to top, #1a5c37, #2fa866);
   margin: 0;
   padding: 0;
   min-height: 20px;
}
footer > p{
   margin: 0;
   padding: 20px;
   font-family: "Arial", Helvetica, sans-serif;
   text-align: center;
   color: #ffffff;
}
.video{
   background-color: var(--cor5);
   width: 100%;
   min-height: auto;
   margin: 0px -20px 30px -20px;
   padding: 20px;
   position: relative;
   padding-bottom: 60%;
}
.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}
article > h3{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #1a5c37;
   border-radius: 5px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   color: #ffffff;
   padding: 15px;
   margin-bottom: -17px;
}
li{
   font-family:'Oswald', Helvetica, sans-serif;
   border-radius: 10px;
   color: #000000;
   list-style-type: '✓';
   padding: 0 1px;
}
article > p{
   color: #000000;
   font-family: 'Oswald', Helvetica, sans-serif;
   text-indent: 30px;
   text-align: justify;
   padding: 15px;
   
}
.listas{
   display: flex;
   flex-wrap: wrap;
   gap: 10px 20px;
}
article{
   background-color: rgb(131, 225, 173);
   border-radius: 10px;
}
img{
   width: 100%;
   padding: 20px 0;
}
#espaco{
   padding: 20px;
}
picture{
   max-width: 800px;
   min-width: 260px;
}
main .pequena{
   max-width: 80%;
   display: block;
   margin: auto;
}
.centralizacao{
   display: flex;
   justify-content: center;
}
.centralizacao > button{
   padding: 20px;
   margin-bottom: 10px;
   background-color: var(--cor3);
   border: none;
   border-radius: 5px;
   color: var(--cor6);
   cursor: pointer;
   transition: 0.7s;
   font-family:'Oswald', Helvetica, sans-serif;
}
.centralizacao > button:hover{
   background-color: var(--cor2);
   border-radius: 10px;
   transform: scale(1.1);
}
