@charset "UTF-8";

#header {
    background-image: linear-gradient(to top, #006400, #98FB98); /* Verde Escuro para Verde Claro */
    height: 15vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

h1 {
    color: #FFFAFA; /* Branco Neve */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 1px 0px 0px 0px #0047AB; /* Azul Escuro */
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFAFA; /* Branco Neve */
    font-size: 5mm;
    padding: 0 30px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0047AB; /* Azul Escuro */
}

a:hover {
    background-color: #98FB98; /* Verde Claro */
    border-radius: 3px;
    transition: background-color 2s;
}

nav, a {
    color: #FFFAFA; /* Branco Neve */
    font-size: 5mm;
}

body {
    background-color: #87CEEB; /* Azul Claro */
    margin: 0;
}

ul {
    display: flex;
    gap: 50px;
}
